*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
app/proguard-gradle-repackage.txt
# written by the ATAK SDK's takdev Gradle plugin, different for each SDK
.takdev/
